body {
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
}

.margin-nav {
  margin-bottom: 32px;
}

nav h1 {
  font-family: monospace;
  font-size: 23px;
  color: black;
}

nav h1 span {
  color: red;
}

nav div {
  display: flex;
}

nav div ul {
  display: flex;
  list-style: none;
}

nav div li {
  padding-left: 24px;
}

nav .active {
  color: #bba3a3;
}

.services-nav, .about-nav {
  background-color: #e9edf1;
}

.services-nav {
  margin-bottom: 24px;
}

.about-nav {
  margin-bottom: 32px;
}

.description {
  max-width: 600px;
  padding-top: 68px;
  padding-bottom: 70px;
  margin-right: 32px;
}

details {
  display: none;
}

@media screen and (max-width: 750px) {
  .mobile-main {
    flex-direction: column-reverse;
  }

  .mobile-hero {
    padding-top: 32px;
  }

  .mobile-hero img {
    height: 200px;
  }

  .mobile-description {
    padding-top: 0px;
  }

  .mobile-tools {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .mobile-tools div {
    margin-top: 16px;
  }

  nav div {
    display: none;
  }

  details {
    display: flex;
  }

  details summary {
    list-style: none;
    cursor: pointer;
    margin-top: 4px;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details ul {
    list-style: none;
    position: absolute;
    top: 78px;
    left: 0px;
    right: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #eee;
  }

  details ul li {
    border-bottom: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
    display: flex;
  }

  nav {
    align-items: center;
  }

  details a {
    width: 100%;
    height: 100%;
    padding: 12px;
    text-align: center;
  }

  details .active {
    padding: 12px;
    justify-content: center;
  }
}

main, .tools {
  display: flex;
}

.landing {
  background-color: #e9edf1;
  justify-content: space-between;
}

.contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thanks {
  height: 400px;
}

.contact form {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.contact h1 {
  margin-bottom: 16px;
}

.contact input, textarea {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #b28a8a;
  padding: 8px;
}

.contact form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.contact label {
  margin-bottom: 4px;
}

.description h1 {
  font-size: 41px;
  color: #2f2f41;
  line-height: 1.2;
}

.description p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #5c5a5a;
}

.description button, .contact button {
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  background-color: rgb(178, 107, 72);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.contact button {
  align-self: flex-end;
  padding: 8px 16px;
}

a {
  text-decoration: none;
}

nav a {
  color: rgb(105, 50, 23);
}

@media screen and (min-width: 971px) {
  .tools {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 8px 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
  }
}

@media screen and (min-width: 501px) and (max-width: 970px) {
  .tools {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 8px 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
  }
}

.tools div {
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: center;
}

.tools p {
  line-height: 1.5;
  text-align: center;
  color: #57606a;
}

.js {
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  .padding {
    padding: 8px 32px;
  }
}

@media screen and (max-width: 699px) {
  .padding {
    padding: 8px 16px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  max-width: 600px;
  align-self: center;
}

.services-container {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.services section {
  margin-bottom: 24px;
}

.services-title {
  display: flex;
}

.services-title svg {
  margin-right: 12px;
  fill: #35696b;
}

.services h1, .about-container h1 {
  margin-top: 0px;
}

.services h1 {
  margin-bottom: 8px;
}

.services h2 {
  color: #24292f;
  margin: 0px;
}

.services p {
  line-height: 1.6;
  color: #24292f;
  margin-top: 12px;
  margin-bottom: 32px;
}

.border {
  border-bottom: 1px solid #eee;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  max-width: 500px;
  align-self: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.about {
  max-width: 600px;
  align-self: center;
}

.about p {
  line-height: 1.6;
  color: #24292f;
}

.details-container {
  display: flex;
  margin-bottom: 24px;
}

.photo {
  width: 150px;
  height: 150px;
  background-color: #bea4a4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  border-radius: 50%;
  margin-right: 24px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h2 {
  margin-bottom: 0px;
}

.details h3 {
  margin-top: 4px;
  color: cadetblue;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #d0d7de;
  box-shadow: 0 3px 6px rgba(140,149,159,0.15);
}

.border {
  border-bottom: 1px solid #eee;
}

.background {
  background-color: #f6f8fa;
}

.theme-colour {
  background-color: #e9edf1;
}

.blog-container {
  padding-top: 16px;
}

.blog-container section {
  margin-bottom: 0px;
}

.blog-container a {
  color: #0969da;
}

.blog-container p {
  margin-bottom: 16px;
}

.blog-title {
  display: flex;
  flex-direction: column;
}

.blog-title span {
  color: cadetblue;
  font-size: 14px;
  margin-top: 4px;
}

footer {
  display: flex;
  justify-content: center;
  color: #4e7374;
  min-height: 100px;
  align-items: center;
  flex: 1;
}

.blog-container section {
  padding-bottom: 32px;
  border-bottom: 1px solid #eee;
}
