body {
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,"Noto Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  display: flex;
  flex-direction: column;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(231, 233, 234);
  margin-top: 16px;
}

main p {
  font-size: 30px;
}